# Google My Business Locations Insights for Element Coffee

#### Retrieve Location Metrics in Google My Business

## Executive Summary

The Google My Business API provides you with several location insights and metrics.

For each location, the following metrics are available for you to analyse:

- The frequency that the resource was shown when the location is searched for directly.
- The frequency that the resource was shown as a result of a categorical search, such as for a restaurant.
- How many times that the resource was viewed on Google Search.
- How many times that the local post was viewed on Google Search.
- How many times that the resource was viewed on Google Maps.
- How many times that the website was clicked.
- How many times that the phone number was clicked.
- How many times that the driving directions were requested.
- How many times that the call-to-action button was clicked.
- The amount of views of photos uploaded by the merchant.
- The total number of photos that are currently live that were uploaded by the merchant.

In [16]:
import os.path
import requests
import time
import json



import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Obtain Insights from Google 02Auth Playground

In [42]:
# Cell missing data intentionally
headers = {'Content-Length': '390', 'Content-Type': 'application/json', 'Authorization': '',
          }
accountId = 
locationId = 
URI = f'https://mybusiness.googleapis.com/v4/accounts/{accountId}/locations:reportInsights'
# body of the POST request
data = {
  "locationNames": [
    f"accounts/{accountId}/locations/{locationId}"
  ],
  "basicRequest": {
          "metricRequests": [
             {
               "metric": "ALL"
             },
   
          ],
          "timeRange": {
               "startTime": "2019-04-22T01:01:23.045123456Z",
               "endTime": "2020-10-20T23:59:59.045123456Z"
          }
    }
}
# Jsonify the data object
data = json.dumps(data)

In [43]:
r = requests.post(URI, headers=headers, data=data)
print(f'status code: {r.status_code}')
result = r.json()
result

status code: 200

{'locationMetrics': [{'locationName': 'accounts/103081671806813149550/locations/10162385833102214158',
   'timeZone': 'Europe/London',
   'metricValues': [{'metric': 'QUERIES_DIRECT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '18853'}},
    {'metric': 'QUERIES_INDIRECT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '59843'}},
    {'metric': 'QUERIES_CHAIN',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '1109'}},
    {'metric': 'VIEWS_MAPS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '103922'}},
    {'metric': 'VIEWS_SEARCH',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '16680'}},
    {'metric': 'ACTIONS_WEBSITE',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '1050'}},
    {'metric': 'ACTIONS_PHONE',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '0'}},
    {'metric': 'ACTIONS_DRIVING_DIRECTIONS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '659'}},
    {'metric': 'PHOTOS_VIEWS_MERCHANT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '79389'}},
    {'metric': 'PHOTOS_VIEWS_CUSTOMERS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '102945'}},
    {'metric': 'PHOTOS_COUNT_MERCHANT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '3142'}},
    {'metric': 'PHOTOS_COUNT_CUSTOMERS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '18983'}},
    {'metric': 'LOCAL_POST_VIEWS_SEARCH',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '76'}},
    {'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '3'}}]}]}

### Save data to JSON file

In [57]:
with open('C:/Users/kamik/code/projects/element_coffee/review_analysis/insights_data.json', 'w') as outfile:
    json.dump(result, outfile)

## Load data into DataFrame from JSON file

In [22]:
with open('insights_data.json') as json_file:
    data = json.load(json_file)

In [30]:
data

{'locationMetrics': [{'locationName': 'accounts/103081671806813149550/locations/10162385833102214158',
   'timeZone': 'Europe/London',
   'metricValues': [{'metric': 'QUERIES_DIRECT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '18853'}},
    {'metric': 'QUERIES_INDIRECT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '59843'}},
    {'metric': 'QUERIES_CHAIN',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '1109'}},
    {'metric': 'VIEWS_MAPS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '103922'}},
    {'metric': 'VIEWS_SEARCH',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '16680'}},
    {'metric': 'ACTIONS_WEBSITE',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '1050'}},
    {'metric': 'ACTIONS_PHONE',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '0'}},
    {'metric': 'ACTIONS_DRIVING_DIRECTIONS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '659'}},
    {'metric': 'PHOTOS_VIEWS_MERCHANT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '79389'}},
    {'metric': 'PHOTOS_VIEWS_CUSTOMERS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '102945'}},
    {'metric': 'PHOTOS_COUNT_MERCHANT',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '3142'}},
    {'metric': 'PHOTOS_COUNT_CUSTOMERS',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '18983'}},
    {'metric': 'LOCAL_POST_VIEWS_SEARCH',
     'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '76'}},
    {'totalValue': {'metricOption': 'AGGREGATED_TOTAL',
      'timeDimension': {'timeRange': {'startTime': '2019-04-22T01:01:23.045123456Z',
        'endTime': '2020-10-20T23:59:59.045123456Z'}},
      'value': '3'}}]}]}

In [42]:
df = pd.DataFrame.from_dict(json_normalize(data['locationMetrics'][0]['metricValues']), orient='columns')

In [43]:
df

,metric,totalValue.metricOption,totalValue.timeDimension.timeRange.startTime,totalValue.timeDimension.timeRange.endTime,totalValue.value
0,QUERIES_DIRECT,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,18853
1,QUERIES_INDIRECT,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,59843
2,QUERIES_CHAIN,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,1109
3,VIEWS_MAPS,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,103922
4,VIEWS_SEARCH,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,16680
5,ACTIONS_WEBSITE,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,1050
6,ACTIONS_PHONE,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,0
7,ACTIONS_DRIVING_DIRECTIONS,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,659
8,PHOTOS_VIEWS_MERCHANT,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,79389
9,PHOTOS_VIEWS_CUSTOMERS,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,102945
10,PHOTOS_COUNT_MERCHANT,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,3142
11,PHOTOS_COUNT_CUSTOMERS,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,18983
12,LOCAL_POST_VIEWS_SEARCH,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,76
13,NaN,AGGREGATED_TOTAL,2019-04-22T01:01:23.045123456Z,2020-10-20T23:59:59.045123456Z,3